#movie_title_info>h1{
    font-size: 2.5rem;
    font-weight: bolder;
}
#movie_title_info>h2{
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: bolder;
}
.rating_info{
    font-size: 1.25em;
    font-weight: bolder;
}
.trailer::before{
    content: '';
    display: block !important;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: url(https://yts.mx/assets/images/website/play-trailer.svg) no-repeat center center;
}
.bi-gear-fill:hover{
    color: var(--success);
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }