.modal {
  width: 33rem;
  z-index: 10;
  position: fixed;
  left: calc(50% - 15rem);
}

.playSvg {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}