#movie_title_info {
  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: bolder;
  }
}

.rating_info {
  font-size: 1.25em;
  font-weight: bolder;
}

.suggestion{
  &:hover{
    border-color: #6ac045 !important;
  }
}